.general-post {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  margin-bottom: 30px;
  text-align: left;

  .img-pnl {
    display: inline-block;
    width: 100%;
    display: flex;
    background-color: #bcbcbc;
    height: 130px;
    margin-bottom: 15px;
    img {
      width: 100%;
      max-height: 130px;
    }
  }
  .txt-pnl {
    h6 {
      color: $blue;
      font-size: 18px;
      font-weight: 500;
      height: 43.19px;
      overflow: hidden;
      margin-bottom: 15px;
    }
    p {
      color: $black;
      font-size: 16px;
      height: 72px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .thumb-list {
      display: inline-block;
      width: 100%;
      border-top: 1px solid $black;
      padding-top: 10px;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 25px;
        a,
        .myanch {
          font-size: 14px;
          display: inline-flex;
          align-items: center;
          color: $black;
          font-weight: 400;
          a.mr-3 {
            margin-right: 150px;
            display: inline-flex;
          }
          img {
            max-width: 22px;
            margin-right: 5px;
          }
          &:hover {
            color: $blue;
          }
        }
      }
      &.flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          display: flex;
          color: $blue;
          a {
            margin-right: 10px;
          }
          &:last-child {
            margin: 0;
          }
          img {
            max-width: 22px;
          }
        }
      }
    }
  }
  &.auto {
    margin-bottom: 10px;
    max-width: 100%;
    .txt-pnl {
      h6 {
        height: 43.19px;
        font-size: 16px;
        margin: 0;
      }
      p {
        height: auto;
        margin-bottom: 20px;
        font-size: 14px;
        &:nth-of-type(2) {
          margin-bottom: 10px;
        }
      }
    }
  }
  &.big {
    max-width: 100%;
    padding: 0 30px;
    @media (max-width: 1400px) {
      padding: 0;
    }
    .img-pnl {
      width: 100%;
      height: 288px;
      background-color: #666666;
    }
    .txt-pnl {
      h6 {
        height: auto;
        margin-bottom: 10px;
        color: $black;
      }
      p {
        height: auto;
      }
      .user-pnl {
        display: flex;
        @media (max-width: 575px) {
          margin-bottom: 15px;
          text-align: left;
        }
        .imge-pnl {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .txte-pnl {
          padding-left: 10px;
          h5 {
            margin: 0;
            font-size: 15px;
          }
          p {
            margin: 0;
            font-size: 14px;
          }
        }
      }

      .thumb-list {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1771px) and (min-width: 1400px) {
          display: inline-block;
          width: 100%;
        }

        @media (max-width: 767px) {
          display: inline-block;
          width: 100%;
        }
        > li {
          &:last-child {
            width: calc(100% - 200px);
            margin: 0;

            @media (max-width: 1771px) and (min-width: 1400px) {
              display: inline-block;
              width: 100%;
            }
            @media (max-width: 767px) {
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }
    .count-description-pnl {
      display: flex;
      justify-content: space-between;
      padding-top: 0px;
      padding-bottom: 20px;
      align-items: center;

      @media (max-width: 575px) {
        display: inline-block;
        width: 100%;
        margin-top: 10px;

        .d-flex {
          justify-content: space-between;
          margin-bottom: 20px;
        }
      }

      @media (max-width: 1200px) {
        display: flex;
        padding-top: 0px;
        margin-top: 0px;

        .d-flex {
          justify-content: unset;
          margin-bottom: 0;
        }
      }

      @media (max-width: 767px) {
        display: inline-block;
        width: 100%;
        padding-top: 20px;

        .d-flex {
          justify-content: space-between;
          margin-bottom: 20px;
        }
      }

      h6 {
        color: $black;
        font-weight: 600;
        cursor: pointer;
        margin: 0;
        margin-top: 7px;

        @media (max-width: 1600px) {
          font-size: 14px;
        }

        @media (max-width: 1200px) {
          font-size: 16px;
        }

        @media (max-width: 575px) {
          font-size: 14px;
        }
      }

      img {
        max-width: 20px;
      }

      ul {
        display: inline-block;
        margin: 0;

        li {
          display: inline-block;
        }

        &.quiz-list {
          @media (max-width: 1400px) {
            display: flex;
            justify-content: space-between;
          }

          @media (max-width: 1200px) {
            display: inline-block;
            justify-content: unset;
          }

          @media (max-width: 767px) {
            display: flex;
            justify-content: space-between;
          }

          li {
            padding: 0 15px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            &:last-child {
              margin-right: 0;
            }

            // @media (max-width: 1661px) {
            //   padding: 0 15px;
            // }

            @media (max-width: 1600px) {
              font-size: 14px;
            }

            // @media (max-width: 1400px) {
            //   width: 50%;
            //   padding: 0;
            // }

            @media (max-width: 1200px) {
              width: auto;
              font-size: 16px;
              padding: 0 15px;
            }

            @media (max-width: 767px) {
              width: 50%;
              padding: 0;
            }

            @media (max-width: 575px) {
              font-size: 14px;
            }

            span {
              color: $blue;
              font-size: 16px;
              text-transform: uppercase;
              font-weight: 500;

              @media (max-width: 1600px) {
                font-size: 14px;
              }

              @media (max-width: 1200px) {
                font-size: 16px;
              }
            }

            i {
              color: $black;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              display: inline-flex;
              background-color: $color;
              justify-content: center;
              align-items: center;
              font-size: 22px;
              margin-left: 10px;
            }

            &:first-child {
              border-right: 1px solid $border-color;

              @media (max-width: 767px) {
                border: none;
              }
            }

            &:last-child {
              @media (max-width: 1400px) {
                text-align: right;
              }

              @media (max-width: 1200px) {
                text-align: left;
              }

              @media (max-width: 767px) {
                text-align: right;
              }
            }
          }
        }

        &.vote-comment-list {
          // margin-right: 25px;

          // @media (max-width: 1600px) {
          //   margin-right: 15px;
          // }

          // @media (max-width: 1200px) {
          //   margin-right: 25px;
          // }

          // @media (max-width: 575px) {
          //   margin-right: 0;
          // }

          li {
            display: flex;
            border: 1px solid $border-color;
            border-radius: 25px;
            padding: 4px 5px;
            color: $black;
            font-weight: 600;
            cursor: pointer;
            margin-right: 0;

            @media (max-width: 1600px) {
              font-size: 14px;
            }

            @media (max-width: 1200px) {
              font-size: 16px;
            }

            @media (max-width: 575px) {
              font-size: 14px;
            }

            &:hover {
              // opacity: 0.6;
              background-color: #eeeeee;
            }

            &.liked {
              background-color: $color;
              color: $white;
              border-color: $color;
            }

            &.disabled {
              pointer-events: none;
            }

            div {
              padding: 0 8px;

              &:first-child {
                padding: 0 20px;

                @media (max-width: 1600px) {
                  padding: 0 10px;
                }

                @media (max-width: 1200px) {
                  padding: 0 20px;
                }

                @media (max-width: 575px) {
                  padding: 0 10px;
                }
              }

              &:last-child {
                border-left: 1px solid $border-color;
              }
            }
          }
        }
      }
    }
  }
}

.general-post.auto .thumb-list {
  display: flex;
  justify-content: space-between;
  li {
    margin: 0;
  }
}
