#main.inner-main {
  padding-top: 90px;
  background-color: $bodygrey;
}

.profile-detail-pnl {
  font-family: $inter;

  .banner-pnl {
    position: relative;
    width: 100%;
  }

  .txt-pnl {
    text-align: center;
    position: relative;
    padding: 125px 30px 0;
    background-color: $white;
    margin-bottom: 20px;
    @include box-shadow(1px, 1px, 5px, rgba(0, 0, 0, 0.1));

    @include bd-radius(0 0 5px 5px);

    p {
      opacity: 0.6;
      color: $black;
    }

    .img-pnl {
      position: absolute;
      left: 0;
      right: 0;
      top: -85px;
      text-align: center;
      z-index: 2;

      .img {
        position: relative;
        width: 170px;
        margin: 0 auto;
        height: 170px;
        border-radius: 50%;

        img {
          width: 170px;
          height: 170px;
          border-radius: 50%;
          border: 10px solid $white;
        }
      }
    }

    .btn-list {
      margin-bottom: 40px;

      li a,
      li button {
        padding: 7px 30px;
        background-color: $light-grey;
        border-radius: 25px;
        color: $white;

        &:hover {
          background-color: $color;
          @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.25));
        }
      }
    }
  }
}

.breadcrumb {
  margin-top: 10px;

  .breadcrumb-item {
    color: rgba(0, 0, 0, 0.4);

    a {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;

      &:hover {
        color: $color;
      }
    }
  }
}

.Dashboard-main {
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  padding-left: 270px;
  font-family: $inter;

  .Dashboard-main-inner {
    max-width: 1330px;
  }

  @media (max-width: 1500px) {
    padding-right: 15px;
  }

  @media (max-width: 1400px) {
    padding-left: 290px;
  }

  @media (max-width: 991px) {
    padding-right: 0px;
    padding-left: 270px;
  }

  @media (max-width: 767px) {
    padding-left: 55px;
  }

  @media (max-width: 575px) {
    padding-left: 50px;
  }
}

.entry-post {
  display: flex;
  background-color: $white;
  border: 1px solid;
  border-color: #ededed;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;

  .img-pnl {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txt-pnl {
    padding: 5px 20px;

    h4 {
      margin: 0;
    }

    p {
      color: rgba(0, 0, 0, 0.4);
    }

    span {
      border: 1px solid;
      border-color: #f4f4f4;
      padding: 2px 10px 3px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.4);
      border-radius: 25px;
      box-shadow: 0px 1.0396474599838257px 4.158589839935303px 0px #00000040;
    }
  }
}

.table {
  thead {
    th {
      background-color: transparent;
      border: none;
      font-weight: 400;
      padding-bottom: 10px;
    }
  }

  tbody {
    tr {
      background-color: #fafafa;
      border-radius: 50px;

      td {
        background-color: transparent;
        border: 1px solid #d6d6d6;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.4);

        .dot-dropdown-btn button {
          color: rgba(0, 0, 0, 0.4);

          &:hover,
          &:focus {
            color: $color !important;
          }
        }
      }
    }
  }
}

.form-pnl {
  background-color: $white;
  padding: 20px 20px;
  border-radius: 15px;
  border: 1px solid #f3f3f3;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 0px #0000001a;

  button {
    padding: 12px 15px 12px 15px;
    border-radius: 13px;
    background-color: #c5c5c5;
    border-color: #c5c5c5;

    &:hover {
      background-color: $color;
      border-color: $color;
    }
  }

  h2 {
    margin-bottom: 5px;
  }

  p {
    color: rgba(0, 0, 0, 0.4);
  }
}
table td a
.table td a{text-decoration: none !important;}