.Product-post {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    background-color: #eeeeee;
    padding: 10px 10px 0;
    @include bd-radius(15px);
    border-bottom: 3px solid #d9d9d9;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    }

    @media(max-width:575px) {
        max-width: 420px;
        margin-bottom: 30px;
    }

    .Product-post-inner {
        display: inline-block;
        width: 100%;
        text-align: initial;

        .img-pnl {
            display: inline-block;
            width: 100%;
            position: relative;
            height: 80px;

            >img {
                width: 100%;
                @include bd-radius(15px);
                max-height: 80px;
                border-bottom: 3px solid #d9d9d9;
            }

        }

        .text-pnl {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-top: 10px;

            .logo-img {
                text-align: center;
                width: 50px;
                img {
                    border: 3px solid $white;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                }
            }
            .heading-txt-pnl{width: calc(100% - 50px);padding-left: 10px;text-align: left;}
            h3 {
                font-size: 16px;
                color: $black;
                font-weight: 700;
                margin-bottom: 0;
            }

            p {
                font-size: 14px;
                color: $black;
                max-width: 95%;
                margin: 0 auto 10px;
            }

            ul {
                display: inline-block;
                width: 100%;
                margin: 0;
                margin-top: 15px;

                li {
                    display: inline-block;
                    width: 33.33333%;
                    float: left;
                    position: relative;

                    @media(max-width:767px) {
                        font-size: 14px;
                    }

                    &:not(:first-child):before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 10px;
                        bottom: 8px;
                        width: 1px;
                        background-color: $grey;
                    }

                    span {
                        display: inline-block;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 400;
                        color: $grey;

                        @media(max-width:767px) {
                            font-size: 12px;
                        }
                    }

                    b {
                        color: $black;
                    }
                }
            }

            .txt-pnl {
                display: inline-block;
                width: 100%;
                background-color: #f2f2f8;
                border: 1px solid $grey;
                @include bd-radius(15px);
                padding: 10px;
                text-align: left;

                p {
                    color: $black;
                    max-width: 100%;
                }

                .img-pl {
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 5px;
                    }

                    h5 {
                        font-size: 16px;
                        color: $black;
                        margin: 0;
                    }
                }
            }
        }
    }
}