.related-post-container {
  display: inline-block;
  width: 100%;
  background-color: $white;
  padding: 30px 20px 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.related-post {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  text-align: initial;
  @include trans1;
  border-radius: 10px;

  &:hover {
    .img-pnl {
      img {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .related-post-inner {
    display: flex;
    justify-content: space-between;

    // align-items: center;
    @media (max-width: 1400px) {
      display: inline-block;
    }

    @media (max-width: 1200px) {
      display: flex;
    }

    @media (max-width: 767px) {
      display: inline-block;
      width: 100%;
      text-align: left;
    }

    .img-pnl {
      width: 265px;

      @media (max-width: 1400px) {
        width: 100%;
      }

      @media (max-width: 1200px) {
        width: 265px;
      }

      @media (max-width: 767px) {
        width: 100%;
      }

      img {
        width: 100%;
        border-radius: 15px;
      }
    }

    .txt-pnl {
      width: calc(100% - 265px);
      padding-left: 10px;

      @media (max-width: 1400px) {
        display: inline-block;
        width: 100%;
      }

      @media (max-width: 1200px) {
        width: calc(100% - 265px);
      }

      @media (max-width: 767px) {
        width: 100%;
      }

      span {
        font-size: 14px;
        color: $grey;
        display: inline-block;
        width: 100%;
      }

      a {
        font-weight: 600;
        margin-top: 10px;
      }

      p {
        font-size: 16px;
        color: $black;
        margin-bottom: 5px;
      }

      a {
        font-size: 18px;
        color: $black;
        text-decoration: underline !important;
        margin-bottom: 5px;

        i {
          color: $color;
          font-size: 18px;
          position: relative;
          top: 3px;
          margin-left: 5px;
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }
}