/* Side Bar Starts Here
======================= */
.sidebar-home {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 88px;
  z-index: 20;
  @include trans1();
  @include animation-anime(transleft, 1s, linear);

  @media (max-width: 991px) {
    width: 60px;
    background-color: $white;
    padding-top: 120px;
    min-height: 100vh;
    top: 0;

    &.active {
      background-color: $white;

      .logo-black,
      .logo-white {
        max-width: 150px;
      }
    }
  }

  @media (max-width: 575px) {
    height: 60px;
    overflow: hidden;
    min-height: unset;

    &.active {
      height: auto;
      min-height: 100vh;
    }
  }

  .sidebar-inner {
    min-height: calc(100vh - 100px);
    height: auto;
    background: $white;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    padding-bottom: 130px;

    @media (max-width: 991px) {
      padding-top: 30px;

      .social-list {
        display: none !important;
      }
    }
  }

  .trending-side-panel {
    margin-top: 30px;
    height: auto;
    background: $white;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    max-width: 220px;

    h4 {
      padding-left: 20px;
      text-transform: capitalize;
      font-weight: 700;
      margin: 0;
    }

    @media (max-width: 991px) {
      display: none !important;
    }
  }

  &.active {
    width: 220px;
    // z-index: 99999;

    .toggler {
      top: 0px;
      background-color: $blue;
      box-shadow: none;
      border-radius: 0 0 0 5px;
      right: 0;

      span {
        background-color: $white;

        &:nth-last-of-type(1) {
          transform: rotate(45deg);
          top: 14px;
        }

        &:nth-last-of-type(2) {
          opacity: 0;
        }

        &:nth-last-of-type(3) {
          transform: rotate(-45deg);
          top: 14px;
        }
      }

      &:hover {
        span {
          background-color: white;
        }
      }
    }
  }

  .toggler {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    padding: 5px 7px;
    position: absolute;
    z-index: 9999999999999;
    top: 0px;
    border: none;
    border-radius: 0;
    right: 5px;
    display: none;

    @media (max-width: 991px) {
      display: inline-block;
    }

    @media (max-width: 575px) {
      top: -48px;
      right: 10px;
    }

    &:hover {
      span {
        background-color: $blue;
      }
    }

    div {
      width: 100%;
      position: relative;
      height: 100%;
    }

    span {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      border-radius: 50px;
      background-color: $black;
      left: 0;
      top: 5px;

      &:nth-last-of-type(2) {
        top: 13px;
      }

      &:nth-last-of-type(3) {
        top: 21px;
      }
    }
  }

  ul {
    display: inline-block;
    width: 220px;
    padding-top: 70px;

    @media (max-width: 1200px) {
      width: 220px;
    }

    @media (max-width: 991px) {
      width: 220px;
      margin-top: 0px;
    }

    li {
      display: inline-block;
      width: 100%;
      text-align: left;

      &.active,
      &:hover {
        border: none;

        .img-pnl {
          img {
            &:nth-of-type(2) {
              opacity: 1;
            }
          }
        }
      }

      a,
      button {
        display: flex;
        width: 100%;
        font-size: 16px;
        position: relative;
        font-weight: 600;
        padding: 15px 15px;
        color: $darkgrey;
        padding-left: 30px;
        font-family: $inter;
        z-index: 4;

        &.connect-btn {
          line-height: 28px;
          text-align: center;
          background-color: $color;
          color: #000000;
          font-size: 15px;
          font-weight: 600;
          text-align: center;
          @include bd-radius(25px);
          position: relative;
          z-index: 2;
          display: inline-flex;
          margin-left: 20px;
          margin-bottom: 15px;
          padding: 0 0px;
          align-items: center;
          max-width: 80%;
          border: none;

          &:disabled {
            opacity: 1;
          }

          span {
            width: auto;
            background-color: $blue;
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
            padding: 8px 12px 8px 12px;
            @include bd-radius(25px 0 0 25px);

            img {
              max-width: 25px;
              max-height: 25px;
              margin: 0;
            }
          }

          i {
            top: 3px;
            font-size: 20px;
          }

          &::after {
            display: none;
          }

          &:before {
            position: absolute;
            content: '';
            left: 0%;
            right: 0%;
            bottom: 50%;
            top: 50%;
            background: $blue;
            z-index: -10;
            @include bd-radius(25px);
            @include trans1;
            transform: unset;
            width: auto;
          }

          &:hover {
            border-color: $black;
            color: $white;

            &:before {
              bottom: 0;
              top: 0;
            }
          }
        }

        &:before {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 0;
          width: 10px;
          border-radius: 0 15px 15px 0;
          background: $gradient;
          @include trans1;
          transform: translateX(-20px);
          z-index: 0;
        }

        &:after {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 0;
          right: 100%;
          opacity: 1;
          background: $gradient1;
          @include trans1;
          z-index: -1;
          border-radius: 0 5px 5px 0;
        }

        @media (max-width: 991px) {
          padding-left: 20px;
        }

        i {
          font-size: 22px;
          position: relative;
          top: 7px;
          @include trans1;
          color: $blue;
        }

        .img-pnl {
          width: 24px;
          height: auto;
          position: relative;
          margin-right: 10px;
          top: -5px;

          @media (max-width: 991px) {
            margin-right: 20px;
          }

          img {
            position: absolute;
            left: 0;
            top: 5px;
            max-height: 28px;

            @include trans1();

            &:nth-of-type(1) {
              opacity: 0;
            }
          }
        }

        img {
          margin-right: 12px;

          @media (max-width: 991px) {
            margin-right: 20px;
          }
        }

        img {
          margin-right: 12px;

          @media (max-width: 991px) {
            margin-right: 20px;
          }
        }

        &.active,
        &:hover {
          // opacity: 1;
          color: $white;

          i {
            color: $white;
          }

          &:before {
            transform: translateX(0);
          }

          &:after {
            right: 0;
          }

          .img-pnl {
            img {
              &:nth-of-type(1) {
                opacity: 1;
              }

              &:nth-of-type(2) {
                opacity: 0;
              }
            }
          }
        }
      }

      &.active a {
        opacity: 1;
        background: rgba(0, 162, 254, 0.1);
        color: $color;
        font-weight: 700;
      }
    }
  }

  .mobile-view {
    display: none;

    @media (max-width: 991px) {
      display: inline-block;
      width: 100%;
    }
  }
}

.sidebar-home.dark {
  top: 72px;
  bottom: 0;

  @media (max-width: 1400px) {
    top: 93px;
  }

  @media (max-width: 1200px) {
    top: 98px;
  }

  @media (max-width: 991px) {
    top: 0px;

    .sidebar-inner {
      padding-top: 0;
    }
  }

  &.active {
    .toggler {
      background-color: $color;
    }
  }

  .toggler {
    top: -32px;

    @media(max-width:575px) {
      top: -40px;
    }

    span {
      background-color: $white;
    }
  }
}
.sidebar-home.dark.rmt{
  padding-top: 40px;

  @media (max-width: 1400px) {
    top: 92px;
  }
  @media (max-width: 1200px) {
    top: 62px;
  }
  @media (max-width: 991px) {
    top: 62px;
    
   
  }
  @media (max-width: 991px) {
   width: 58px;
  //  padding-left: 12px;
  li{
    padding-left: 12px;
  }
    img{
      // margin: 0 -7px;
      width: 20px;
    }
   
  }
  &.active {
    padding-top: 40px;
    @media (max-width: 991px) {
      width: 220px;
       
      
     }
   }
   .sidebar-inner{
    
      @media (max-width: 575px){
      .toggler {
          top: -25px;
          right: 6px;
          
      }
    }
  
   }

}

.sidebar-home.dark .sidebar-inner,
.sidebar-home.dark {
  background-color: $darker;

  .social-list {
    display: none;
  }

  ul li .dropdown {
    background-color: transparent;
    border-radius: 15px;
    button {
      padding: 15px 15px 15px 50px !important;
      font-weight: 400 !important;
      background-color: transparent;
      box-shadow: none !important;
      border: none;
      color: $white !important;
      position: relative !important;

      &:hover {
        color: $black !important;
      }
      &.show{
        background-color: rgba(255,255,255,0.7);
        border-radius: 15px 15px 0 0 !important;
      }
    }
    button.active{
      color: $black !important;
    }

    .dropdown-menu {
      position: relative !important;
      transform: unset !important;
      min-width: 100%;
      padding: 10px 0;
      background-color: rgba(255,255,255,0.3);
      border-radius: 0 0 15px 15px !important;

      a {
        background-color: transparent;
        color: $white;
        padding: 10px 15px 10px 45px;
        background-color: transparent;
        border-radius: 0;
        &:last-child{border-radius: 0 0 15px 15px;}
        img {
          top: 12px;
          width: auto;
        }

        &:before,
        &:after {
          display: none;
        }

        &:hover {
          color: rgba(255, 255, 255, 0.52);
          opacity: 0.52;
        }
      }
      a.active{
        background-color: rgba(255, 255, 255, 0.7);
        color: #000000;
      img:first-child{
        opacity: 1;
      }
      
      }
    }
  }

  ul li .dropdown button:after {
    display: inline-block !important;
    margin: 0;
    padding: 0;
    border: none;
  }

  ul li {
    position: relative;

    ul {
      position: absolute;
      left: 0;
      top: 53px;
      width: 100%;
      background-color: #24292d;
      z-index: 2;
      padding: 0;
      display: none;

      li a {
        padding: 10px 5px 10px 45px;

        img {
          top: 8px;
        }

        &:hover {
          color: $white;
          opacity: 0.52;
        }

        &:before,
        &:after {
          display: none;
        }
      }
    }

    &:hover {
      ul {
        display: inline-block;
      }
    }
  }

  ul li {
    i {
      position: absolute;
      right: 10px;
      z-index: 1;
      top: 18px;
      color: $white;
      @include trans1;
      z-index: 2;
    }

    &:hover {
      i {
        opacity: 1;
        transform: rotate(180deg);
      }
    }
  }

  ul li a,
  ul li button,
  ul li .dropdown button {
    color: $white;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    position: relative;
    padding-left: 50px;



    img {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 22px;

      &:first-child {
        opacity: 1;
      }

      &:last-child {
        opacity: 0;
      }
    }

    &.active {
      color: $black;

      img {

        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }

   

    &:hover {
      color: $black;

      img {

        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }

    &:before {
      display: none;
    }

    &:after {
      border-radius: 0;
      background-image: none;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  ul li .dropdown button.rmrounded {
    &:after {
      border-radius: 15px 15px 0 0;
    }
  }
}


.sidebar-home ul li.active a:before,
.sidebar-home ul li.active button:before {
  transform: translateX(0);
}

.sidebar-home ul li.active a:after,
.sidebar-home ul li.active button:after {
  right: 0;
}

.sidebar-home ul li.active a .img-pnl img:nth-of-type(1),
.sidebar-home ul li.active button .img-pnl img:nth-of-type(1) {
  opacity: 1;
}

.sidebar-home ul li.active a .img-pnl img:nth-of-type(2),
.sidebar-home ul li.active button .img-pnl img:nth-of-type(2) {
  opacity: 0;
}

/* Side Bar Ends Here
===================== */